input[type="text"],
.popupForm textarea {
  background: var(--gpt-ext-bg-input);
  border-radius: 4px;
}

.errors {
  color: var(--gpt-ext-error-color);
}

.tooltip,
.dropdown {
  position: absolute;
  background: var(--gpt-ext-bg-dropdown);
  border: 1px solid var(--gpt-ext-border-color);
  box-shadow: 5px 5px 5px var(--gpt-ext-shadow-color);
  min-width: 200px;
}

.dropdown > div {
  padding: .5rem 1rem;
  cursor: pointer;
}

.dropdown > div:hover {
  background: var(--gpt-ext-hover-bg-dropdown-item);
}

.dropdown > div:not(:last-of-type) {
  border-bottom: 1px solid var(--gpt-ext-border-color);
}
