:root {
  --gpt-ext-input-width: 250px;
  --gpt-ext-fullScreenEditor-formfieldHeight: 65vh;
}

button.popupFormToggle {
  text-decoration: underline;
}

.form-overlay {
  content: "";
  position: fixed;
  top:0;
  left:0; 
  bottom:0;
  right:0;
  z-index: 99;
  background: var(--gpt-ext-overlay-bg);
}

.popupFormWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
  width:90vw;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px var(--gpt-ext-shadow-color);
  background: var(--gpt-ext-popup-bg);
}

.popupFormWrapper.fullScreenEditor {
  max-width: 1200px;
}

.popupForm {
  max-height: 80vh;
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 5.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.popupForm .remove-button {
  position: absolute;
  top: 8px; 
  right: 0;
}

.popupForm .remove-button {
  transform: rotate(45deg) scale(1.5);
  font-size: 1.5rem;  
}

.popupForm > header {
  margin-bottom: 1.25rem;
}

.popupForm > header .remove-button {
  right: 20px;
}

.popupForm .clearField {
  position: absolute;
  top: 16px;
  right: 4px;  
  cursor:pointer;
}

.popupForm textarea {
  margin-bottom: 1rem;
}

.popupForm .formFieldWrapper > label textarea {
  margin-top: .5rem;
  min-height: 80px;
}
 
.popupForm fieldset {
  position: relative;
}

.popupForm fieldset input {
  display: block;
  width: var(--gpt-ext-input-width);
  padding: .5rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.popupForm .errors {
  margin-bottom: .5rem;
}

.popupForm .addMoreButtonWrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.popupForm .formActionsFooter {
  position: absolute;
  left:0;
  bottom:0;
  right:0; 
  padding:1.5rem 2rem ;
  background: var(--gpt-ext-footer-bg);
}

.popupForm .formActionsFooter button {
  margin-left: .5rem;
}

/* -- .fullScreenEditor ---------------------------------------- */

.popupFormWrapper.fullScreenEditor .popupForm {
  overflow: hidden;
}

.popupFormWrapper.fullScreenEditor .formFieldWrapper {
  position: relative;
  width: var(--gpt-ext-input-width);
  height: var(--gpt-ext-fullScreenEditor-formfieldHeight);
}

.popupFormWrapper.fullScreenEditor .formFieldWrapperInner {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 105%;
  padding: 2px;
}

.popupFormWrapper.fullScreenEditor .formFieldWrapperInner .addMoreButton {
  transform: translateY(5px);  
}

.popupFormWrapper.fullScreenEditor fieldset {
  position: static;
}

.popupFormWrapper.fullScreenEditor input[type="text"] {
  display:inline-block;
  margin-right: -25px;
  padding-right: 45px;
}

.popupFormWrapper.fullScreenEditor textarea {
  position: absolute;
  top: 0;
  left: calc(var(--gpt-ext-input-width) + 20px);;
  width: calc(90vw - var(--gpt-ext-input-width) - 85px);
  max-width: calc(1200px - var(--gpt-ext-input-width) - 85px);
  height: var(--gpt-ext-fullScreenEditor-formfieldHeight) !important;
}

.popupFormWrapper.fullScreenEditor fieldset:not(.active) input[type="text"] {
  border: none;
  background: none;
  cursor: pointer;
}

.popupFormWrapper.fullScreenEditor fieldset:not(.active) input[type="text"]:hover {
  background: var(--gpt-ext-bg-input);
}

.popupFormWrapper.fullScreenEditor fieldset:not(.active) textarea {
  display:none;
}

.popupFormWrapper.fullScreenEditor fieldset .remove-button {
  position: relative;
  top: 2px;
}

.popupFormWrapper.fullScreenEditor fieldset .clearField {
  top: 9px;
  right: 8px;
}
