
.presetSelectorWrapper {
  position: relative;
  margin-right: .5rem;
}

.presetSelector {
  cursor: pointer;
  padding-right: .2rem;
}

.presetSelector:after {
  content: "▼";
  position: relative;
  top: 1px;
  padding-left: .25rem;
  font-size: .9rem;
  color: #fff;
}

.presetOptionsWrapper {
  display:none;
  bottom: 25px;
  left: 0px;
}

.presetSelectorWrapper[data-is-open="true"] .presetOptionsWrapper {
  display:block;
}