.presetSelectorWrapper {
  position: relative;
}

.presetSelector {
  cursor: pointer;
  padding-right: .2rem;
  margin-right: .75rem;
}

.presetSelector:after {
  content: "▼";
  position: relative;
  top: 1px;
  padding-left: .25rem;
  font-size: .9rem;
  color: var(--gpt-ext-arrow-color);
}

.presetOptionsWrapper {
  display: none;
  bottom: 25px;
  left: 0px;
}

.presetSelectorWrapper[data-is-open="true"] .presetOptionsWrapper {
  display: block;
}
