
.presetSelectorWrapper {
  position: relative;
  margin-right: .5rem;
}

.presetSelector {
  cursor: pointer;
  padding-right: .2rem;
}

.presetSelector:after {
  content: "▼";
  position: relative;
  top: 1px;
  padding-left: .25rem;
  font-size: .9rem;
  color: #fff;
}

.presetOptionsWrapper {
  display:none;
  position: absolute; 
  bottom: 25px;
  left: 0px;
  min-width: 200px;
  background: #222;
  border: 1px solid #888;
  box-shadow: 10px 10x 0, #666;
}

.presetOptionsWrapper > div {
  padding: .5rem 1rem;
  cursor: pointer;
}

.presetOptionsWrapper > div:hover {
  padding: .5rem 1rem;
  background: #555;
}

.presetOptionsWrapper > div:not(:last-of-type) {
  border-bottom: 1px solid #888;
}

.presetSelectorWrapper[data-is-open="true"] .presetOptionsWrapper {
  display:block;
}