.gptExtendedWrapper {
  position: relative;
  z-index: 23123123;
  display: flex;
  padding: .5rem 1rem;
  border-radius: 0 0 6px 6px;
  font-size: .9rem;
  background: var(--gpt-ext-bg-color);
}

.promptEditorWrapper {
  display: flex;
  flex-direction: row;  
  margin-right: 1rem;
}

.activePromptMessage {
  margin-right: 1rem;
}